.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 54px;
}

.pokemon {
  width: 149px;
  height: 54px;
  margin-right: 12px;
}

.clicker {
  width: 153px;
  height: 54px;
  margin-left: 12px;
}

.border-img {
  height: 100%;
  width: 2px;
  background-color: #efefef;
}
