@import "fonts";

@import "components/all";
@import "./index.scss";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;

  /*.tab-border {
    display: flex;
    border-bottom: 2px solid #0000000f;
    width: 100%;
    margin: 0;
  }*/

  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    box-shadow: 0px 0px 16px rgba(58, 58, 58, 0.1);
    border-radius: 16px;
    background: #ffffff;
  }

  .form-container {
    /* Frame 5 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;

    width: 352px;

    background: #ffffff;
    /* Shadow */

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    .tabs {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      gap: 32px;
      height: 46px;
      width: 100%;
      border-bottom: 2px solid #0000000f;
      padding: 0 115px;

      a {
        display: flex;
        height: 46px;
        width: 47px;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;

        font-family: "Roboto";
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #000000d9;

        cursor: pointer;
        transition: all 0.3s;
        white-space: nowrap;
        text-decoration: none;
        padding-top: 12px;
        padding-bottom: 12px;

        &:hover {
          color: #365fac;
        }

        &.active {
          color: #365fac;
          border-bottom: 2px solid #365fac;
        }
      }
    }
  }
  // .tab-border {
  //   border-bottom: 2px solid #0000000f;
  //   width: 352px;
  // }
}
