@import "fonts";

@import "./index.scss";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", "Roboto", system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

a {
  display: flex;
  height: 46px;
  width: 47px;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Roboto";
  font-size: 14px;
  font-style: regular;
  line-height: 22px;
  font-weight: 400;
  color: #000000d9;

  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;

  &:hover {
    color: #365fac;
  }

  &.active {
    color: #365fac;
    border-bottom: 2px solid #365fac;
  }
}